<section class="py-1 text-center container">
    <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search instagram user</h1>
        <form>
            <input type="text" id="searcher" name="searcher" class="form-control" placeholder="Buscar..." autocomplete="off" autofocus>
            <p class="my-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        </p>
    </div>
    </div>
</section>


<br>
<br>
<h3> Username: {{ results }} </h3>